
body.body_bgr {margin: 0; padding: 0; _width: 100%;  min-width: 100%; height: 100%; min-height: 100%;  font-size: $fs16; line-height: $fs22; color: $mainColor; font-family: $Encore; background: $mainBgColor; font-weight: 300;}
html {min-height: 100%; height: 100%;}
#super {position: relative; _height: 100%; min-height: 100%; padding: 0; margin: 0 auto; z-index: 100;}

.section { padding: 0 3%;

  &__inner,
  .region_inner { max-width: $baseWidth*$crn; margin: 0 auto; position: relative;}
}

//.spacer_foot { position: relative; margin: 0; width: 1*$crn; height: 260*$crn; font-size: $fs1; padding: 40*$crn 0 0; clear: both}



#header { position: relative; padding: 12*$crn 0 0; background: #fff; border-top: 7px solid $mainColor;}
#main {/*height: 100%;*/ margin: 0; padding: 9*$crn 0 0; position: relative; clear: both; overflow: hidden;

  .block { background: #fff; margin-bottom: 18*$crn; padding: 20*$crn;

    @extend %border-box;
  }
}
#footer {position: relative; margin: 0 auto 0 ; padding: 27*$crn 0 30*$crn; z-index: 1; overflow: hidden; color: #494949; font-size: $fs11; line-height: $fs14; z-index: 100;

  p { margin: 0; padding: 5*$crn 0 4*$crn;}
  .region_inner--cols { border-top: 3px solid $mainLinkColor; padding-top: 17*$crn;}
}


  /* Sidebars */


$siteCols: (
  firstWidth:  315,
  firstPad:    35,
  secondWidth: 315,
  secondPad:   35,
  baseWidth:   1070
);

@include siteCols-builder($siteCols, 750px);


#content_bot { clear: both;}

#featured { padding-top: 10*$crn;

  //.region_inner { text-align: center; padding: 0; max-width: none;}
}

#messages,
.breadcrumb,
.tabs-wrapper { background: #fff; padding: 5*$crn 29*$crn;}

.breadcrumb { font-size: $fs14; color: #6c6c6c; padding-top: 26*$crn;

  a { 

    @extend %td-n;
  }
  .breadcrumb { padding: 0;}
}
